<h2 >Angular Examples</h2> <hr/>

<!-- <app-chiru></app-chiru> -->
<!-- <app-interpolation-binding></app-interpolation-binding> -->
<!-- <app-property-binding></app-property-binding> -->
 <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-two-way-binding></app-two-way-binding> -->
   <!-- <app-struct-dirs></app-struct-dirs> -->
<!-- <app-attr-dir></app-attr-dir> -->
 <!-- <app-employees></app-employees> -->
  <!-- <app-predef-pipes></app-predef-pipes> -->
   <!-- <app-parent></app-parent> -->
    <!-- <app-one></app-one>
    <app-two></app-two> -->
    <!-- <app-employees></app-employees> -->
      <app-mdf></app-mdf>